
body {
    color: #333333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 20px;
    padding-bottom: 40px;
    padding-top: 40px;  /*  from 60 to 40-> changed for private menu to have no space for main menu */ 
}

.topbar .header {
    background-color: #F8F8F8;
    border-bottom: 1px solid #E0E0E0;
    padding: 9px 0 0;
}

h2 {
    font-size: 24px;
    line-height: 26px;
}

input.span6, textarea.span6 {
    display: inline-block;
    float: none;
    margin-left: 0;
    width: 330px;
}

.container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width: 80%;
}

.span4 {
    width: 250px;
}

.span6 {
    width: 340px;
}

input, textarea, .uneditable-input {
    color: #333333;
    font-size: 14px;
    line-height: 19px;
    padding: 7px;
}

input, textarea {
    -moz-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
}

input, textarea, select, .uneditable-input {
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    color: #666666;
    display: inline-block;
    font-size: 13px;
    height: 18px;
    line-height: 18px;
    padding: 4px;
    width: 210px;
}

.block.small.login {
    margin-bottom: 18px;
    margin-top: 30px;
    padding-bottom: 5px;
    width: 350px;
}

.block.small.register {
    margin-bottom: 18px;
    margin-top: 30px;
    padding-bottom: 5px;
    width: 350px;
}

.block.small.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.block .block_head {
    background-color: #EEEEEE;
    background-image: -moz-linear-gradient(center top , #F5F5F5 0%, #EEEEEE 100%);
    background-repeat: repeat-x;
    border: 1px solid #E5E5E5;
    border-radius: 4px 4px 4px 4px;
    height: 36px;
    width: 100%;
    padding: 10px;
}

.block .block_head h2 {
    padding: 5px;
}

.block .block_content {
    background: none repeat scroll 0 0 #FFFFFF;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    overflow: hidden;
    padding: 10px;
    width: 100%;
}

div.center {
    text-align: center;
}

div.left {
    text-align: left;
}

div.right {
    text-align: right;
}

div.login-or-signup {
    padding-left: 50px;
    padding-top: 20px;
}

.row {
    margin-left: 0px;
}

select {
    padding: 5px;
    height: auto;
}

div.scaffold h2 {
    margin: 10px;
}

/* Posts area */

div.post {
    overflow: visible;
}


div.post-user {
    width: 100%;
    background-color: #EEEEEE;
    float: left;
    /*display:-webkit-box;*/
}

div.post-product {
    float: right;
    width: 85%;
    background-color: #F5F5F5;
    /*display: -webkit-box;*/
}

div.post-comment {
    float: right;
    width: 70%;
    background-color: #F8F8F8;
    /*display: -webkit-box;*/
}

div.divline-rigth {
    float: right;
    text-align: right;
}

div.divline-left {
    float: left;
    text-align: left;
}

div.available {
    alignment-baseline: central;
    alignment-adjust: central;
    vertical-align: central;

}

.text-size-small {
    font-size: x-small;
}

/*private menu*/

/*.navbar-private-li:hover {
    color: green;
    text-decoration: none;
    background-color: blue;
}*/

/*.navbar-private {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #565656;
    color: #565656;
    list-style-type:none;
    margin-bottom: 18px;
}*/

.navbar-private {
    background: url('../img/navbar-private.png');
    /*width: 100%;*/
    width: auto;
/*    min-height: 10px; */
    position: static;
    height: 25px;
    margin-top: 0;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(250, 250, 250, .5);
    -moz-box-shadow: 0px 1px 1px 0px rgba(250, 250, 250, .5);
    box-shadow: 0px 1px 1px 0px rgba(250, 250, 250, .5);
}


.navbar-private nav{
    /*width: 100%;*/
    width: auto;
    height: 23px;
/*    background: -moz-linear-gradient(top,  #353535 0%, #222222 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#353535), color-stop(100%,#222222));
    background: -webkit-linear-gradient(top,  #353535 0%,#222222 100%);
    background: -o-linear-gradient(top,  #353535 0%,#222222 100%);
    background: -ms-linear-gradient(top,  #353535 0%,#222222 100%);
    background: linear-gradient(top,  #353535 0%,#222222 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#353535', endColorstr='#222222',GradientType=0 );*/
    border-width: 1px 0 1px 0;
    border-style: solid;
    border-color: #000;
}
.navbar-private nav:before {
    border-top: 1px solid #444;
}
.nav-private nav:after {
    border-top: 1px solid #333;
}

.navbar-private nav ul {
    /*width: 710px;*/
    width: auto;
    height: 23px;
    margin: 0 auto;
    border-left: 1px solid #111;
    border-right: 1px solid #444;
}

.navbar-private nav li {
    text-align: center;
    display:inline;
    float: left;
    width: 14.25%;
}

.navbar-private nav li a {
    display: inline-block;
    width: 100%;
    height: 23px;
/*    font: bold 13px 'Arial', sans-serif ;*/
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #999999;
    text-decoration: none;
    text-align: center;
    line-height: 25px;
    text-shadow: 1px 1px 0px #111;
    filter: dropshadow(color=#111, offx=1, offy=1);
    border-left: 1px solid #444;
    border-right: 1px solid #111;
}

/*.navbar-private nav li a:hover {
    background: -moz-linear-gradient(top,  #444 0%, #222 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#444), color-stop(100%,#222));
    background: -webkit-linear-gradient(top,  #444 0%,#222 100%);
    background: -o-linear-gradient(top,  #444 0%,#222 100%);
    background: -ms-linear-gradient(top,  #444 0%,#222 100%);
    background: linear-gradient(top,  #444 0%,#222 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444', endColorstr='#222',GradientType=0 );
}*/

.navbar-private nav li a:active {
    //background: #222222;
    font-size: 13px ;
    color: #ffffff;
}

/*.navbar-private nav li a:active {
    background: #222;
    -webkit-box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, .3);
    -moz-box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, .3);
    box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, .3);
}*/
/*
.navbar-private nav li a:active:after {
    content:"";
    display: block;
    width: 100%;
    width: auto;
    height: 3px;
    bottom: 3px;
    background: greenyellow;
  Red gradient
    background: -moz-linear-gradient(top,  #ff5e1f 0%, #ff3410 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff5e1f), color-stop(100%,#ff3410));
    background: -webkit-linear-gradient(top,  #ff5e1f 0%,#ff3410 100%);
    background: -o-linear-gradient(top,  #ff5e1f 0%,#ff3410 100%);
    background: -ms-linear-gradient(top,  #ff5e1f 0%,#ff3410 100%);
    background: linear-gradient(top,  #ff5e1f 0%,#ff3410 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5e1f', endColorstr='#ff3410',GradientType=0 );
    
}*/

.navbar-private nav li#active:before {
    content:"";
    display: block;
    width: 100%;
    width: auto;
    height: 2px;
    bottom: 2px;
    background: greenyellow;
} 


/* Map area */
#map {
    width: 80%;
    height: 600px;
    overflow: visible;
}


/* bootstrap OVERRIDES*/ 

/*@media (max-width: 979px) {
  .navbar-fixed-top {
    position:fixed;
  }
}*/


/*  NOTES
http://www.w3schools.com/css/css_id_class.asp

.xpto{xxx:yyy} - Style to use as class eg : <td class="xpto">

#xpto{xxx:yyy}} - Style only applies to the item with id= xpto. eg: <td id="xpto">

p.center {text-align:center;} In the example, all p elements with class="center" will be center-aligned:    

*/
